<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%= @title %>
    <meta name="author" content="William E. Bolton">
    <meta name="description" content="web developer portfolio site">
    <meta name="keywords" content="developer, development, front-end, back-end">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="page-wrapper" id="<%= @pageTint %>">
    <div class="main-image"></div>
    <div class="top-bar-stripe">
      <div class="top-bar grid grid-pad">
        <div class="col-5-12">
          <header>
            <a href="/" rel="me">
              <h1>
                William Bolton
              </h1>
              <p class="sub-header">
                Web Developer based in Philadelphia, PA
              </p>
             </a>
          </header>
        </div>
        <div class="col-7-12">
          <nav>
            <nav>
              <ul>
                <a href="/projects" >
                  <li class="<%= @projectsLink %>">
                    projects</a>
                  </li>
                </a>
                <li class="<%= @writingLink %>">
                  <a href="/writing" >writing</a>
                </li>
                <li class="<%= @contactLink %>">
                  <a href="/contact" >contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </nav>
      </div>
    </div>
    <div class="<%= @headerStripe %>"></div>
    <%= yield %>
    <div class="grid">
      <div class="col-1-1">
        <footer>
            <p>All content on this site is copyright &copy; 2015 by William E. Bolton, PhD.</p>
        </footer>
      </div>
    </div>
    <script src="js/main.js"></script>
    </div>
  </body>
</html>